<footer class="bg-dark text-light text-center py-3 mt-5">
    <div class="container">
      <p class="mb-2">© 2025 TreeShop. All rights reserved.</p>
      <div>
        <a href="#" class="text-light me-3"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-light"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </footer>
  
  <!-- Font Awesome để có icon -->
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  